<div>
  <h2>image</h2>
  <img src="<%= catid.imgurl %> " />
</div>

<div>
  <ul>
    <li>
      <label for="captions">all captions</label>
      <% for( let i = 0; i < captions.length; i++ ) { %> 
        <form action="/captions/results/<%=captions[i].id %>/vote" method="POST">
          <p><%= captions[i].text %></p>
          <p><%= captions[i].votes %></p>
          <input
            type="hidden"
            name="imageid"
            value="<%= captions[i].catpicId%>"
          />
          <button type="submit" name="" id="votingbutton" value="">
            vote 
          </button>
        </form>
        <% } %> 
    </li>
  </ul>
</div>

