<div class="container-fluid centered  mt-4">
  <div class="card border-secondary mb-3 center" style="max-width: 40rem;">
    <h3 class="card-header">alt-text: <small class="text-primary"><%= catid.alttext  %></small></h3>
    <img class=".img-fluid" src="<%= catid.imgurl %>" sizes="(min-width:400px) 80vw, 100vw">
    </img>
    <div class="card-body">
      <p class="card-text">all captions</p>
    </div>
    <% for( let i = 0; i < captions.length; i++ ) { %> 
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-item-center">
          <form action="/captions/results/<%=captions[i].id %>/vote" method="POST">
            
            <span class=""><p class="text-muted">vote count: <%= captions[i].votes %></p></span>
            <p><%= captions[i].text %></p>
            <% if(user.id === captions[i]['votes.userId']){ %> 
              <button type="submit" class="btn btn-success" style="background-color: green;" disabled>voted</button>
            <% } else { %> 
              <input
                type="hidden"
                name="imageid"
                value="<%= captions[i].catpicId%>"
              />
              <button class="btn btn-outline-secondary" type="submit" name="" id="votingbutton" value="">
              vote 
              </button>
            <% } %>
          </form>
        </li>
      <% } %> 
    </ul>
    <div class="card-footer text-muted">
      <a href="/captions/prompt"><button class="btn btn-primary">Try Another</button></a>
    </div>
  </div>
</div>
