
<!-- shows all cats, captions, alttexts -->
<h2>you're in edits!</h2>
<img src="<%= caption['catpic.imgurl'] %>" > 
<h5>prompt: <%= caption['catpic.alttext'] %> </h5>

<form action="/user/kittytree/<%=capid%>/?_method=PUT" method="POST"> 
  <div> 
    <h5>your current caption: <%= caption.text  %> </h5>
    <label for="captionchange">change your caption here: </label>
    <input type="text" name="caption" id="captionchange" value="<%= caption.text %>" <%= caption.text %> ></input>
  </div>
  <button type="submit">update caption</button>
</form>