<h2>you're in edits!</h2>
<img src="<%= caption['catpic.imgurl'] %>" > 
<h5>prompt: <%= caption['catpic.alttext'] %> </h5>

<form action="/users/kittytree/<%=capid%>/edit/?_method=PUT" method="POST"> 
  <div> 
    <button type="submit">update caption</button>
    <h5>your current caption: <%= caption.text  %> </h5>
    <label for="captionchange">change your caption here: </label>
    <input type="text" name="caption" id="captionchange" value="" ></input>
  </div>
</form>

<div>
  <% if(user.id === caption.userId){ %>
    <h3> OR</h3>
    <form action="/users/kittytree/<%=capid%>/edit/?_method=DELETE" method="POST"> 
      <input type="submit" class="" value="Delete Caption FUREVER" value="deletecaption">
    </form>
  <% } %> 
</div>