<div>
  <% if(user.username) { %>
  <h2>meow! <%= user.username %></h2>
  <% } else { %>
  <h2>hello <%= user.email %> !</h2>
  <a href="/users/newusername">would you like to create a username?</a>
  <% } %>
</div>

<div>
  <ul>
    <h3>Your kitty collection!</h3>
      <% captions.forEach(caption => { %>
        <li> 
          <img src="<%=caption['catpic.imgurl']%> "
        </li>
     <% }) %> 
  </div>

  </ul>

<div>
  
  <h3>all your captions</h3>
<% captions.forEach(caption => { %>
  <p><%= caption.text %> </p>  
  <form action="/users/kittytree/<%= caption.text %> "
    <a href="/users/kittytree/<%= caption.id %>"
<% }) %>
</div>
